html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 3rem;
}

.container {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: black;
}

header img {
  height: 1.5em;
  padding-right: 15px;
}

header span {
  padding: 0.75em 0;
}

.main {
  background-image: url(moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
  width: 100%;
}

.blackbox {
  background-color: black;
  padding: 2em 3em;
  width: 20em;
  position: relative;
  top: 9em;
}

nav {
  background-color: firebrick;
}

ul {
  justify-content: space-between;
  padding: 0.75em 0;
}

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
  width: 100%;
}

.imagecontainer {
  width: 30%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
}

.products img {
  max-width: 8em;
}

.products span {
  background-color: black;
  display: block;
  padding: 0.5em;
  text-align: center;
}
